*{
    box-sizing: border-box;
    padding: 0;
    border: 0;
}
.done{
    text-decoration: line-through;
}
i{
    transition: all 0.4s;
}
i:hover{
    color: red;
    transform: scale(1.1);
}
li:hover{
    cursor: pointer;
}